.example-card {
  width: 70%;
  height: 100%;  
  display: block;
  margin: 15px auto;
  
}


.example-header-image {
  
  background-size: cover;
  
}

.menu{
  
  background-color:#FFFAF0;
  width:50%;
  height:50%;
  min-width: 200px;  
  overflow-x: hidden;
  margin: 5% auto;
  
  
  
}

