<div class="menu">
    <md-card class="example-card" *ngFor="let animal of animais">
        <md-card-header>
            <img md-card-avatar class="example-header-image" src="{{animal.proprietario.foto}}" />

            <md-card-title class="example-header-image">{{animal.proprietario.nome}}</md-card-title>
            <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>

        <img md-card-image class="foto" src="{{animal.image}}">

        <md-card-content>
            <span class="span"> Nome:{{animal.nome}} </span>
        </md-card-content>

    </md-card>

   

</div>