
md-card{  
 background-color:#FFFAFA ;
  width: 500px;
  height: 250px;
  margin:  0 auto;
  top:55px ;
}
.example-full-width {
  width: 100%;
}

.botao{
  margin-left: 39%;
  margin-top: 25px
}

.font{
  font-size: 25px;
  color: #673ab7;
  
}


