.menu{

  background-color: #DCDCDC;
  width: 12%;
  height: 100% ;
  position:fixed;
  
 
}

.example-icon {
  margin-top: 0.9%;
  padding:0 14px;
}
  
a{
  width: 100%;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}





.logo{
    margin-top:7%;
    width: 200px;
    height:50px;
    cursor: pointer;
}



.example-container {
  width: 100%;
  height:auto;
  overflow:hidden;
  position: relative; 
  background: #FFFAF0;

}

.example-sidenav-content {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.example-sidenav {
  padding: 20px;
}